{%- extends "base.html" %}

{% block content %}
    <h3>Courses Dashboard</h3>
    <form method="GET" action="{{ url_for('courses') }}">
        <input type="text" name="search" placeholder="Search by Course Title">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <table id="data" class="table table-striped">
        <thead>
            <tr>
                <th>Course Id</th>
                <th>Course Name</th>
                <th>Course Author</th>
                <th>Course Endpoint</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>
                    <a href="{{ url_for('course', course_id=course.course_id) }}">{{ course.course_id }}</a>
                </td>
                <td>{{ course.course_name }}</td>
                <td>{{ course.course_author }}</td>
                <td>{{ course.course_endpoint }}</td>
                <td>
                    <form action="{{ url_for('course') }}" method="get">
                        <input type="hidden" name="course_id" value="{{ course.course_id }}">
                        <input type="hidden" name="action" value="edit" class="btn btn-primary">
                        <button type="submit">Edit</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{%- endblock %}

